<section class="section">
  <div class="container">
    <h1 class="title">Securities</h1>
  </div>
</section>

<section class="section">
  <div class="container mb-4" data-controller="filter-toggle">
    <form class="is-hidden is-inline-block" data-turbo-frame="index-list" data-filter-toggle-target="form">
      <div class="field is-grouped is-grouped-multiline">
        <div class="control">
          <%= text_field_tag 'q', nil, class: 'input', placeholder: 'Find a security' %>
        </div>
        <div class="control">
          <input class="button is-info" type="submit" value="Search">
        </div>
      </div>
    </form>
    <button class="button is-inline-block" data-action="filter-toggle#toggle">&harr;</button>
  </div>
  <%= turbo_frame_tag 'index-list' do %>
    <div class="container">
      <table class="table is-bordered is-fullwidth is-striped is-hoverable">
        <thead>
          <tr>
            <th>Symbol</th>
            <th>Buy Cost</th>
            <th>Sell Cost</th>
            <th>Value</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @securities.each do |security| %>
            <tr>
              <th><%= security.symbol %></th>
              <td class="has-text-right"><%= number_to_currency security.buy_cost %></td>
              <td class="has-text-right"><%= number_to_currency security.sell_cost %></td>
              <td class="has-text-right"><%= number_to_currency security.value %></td>
              <td><%= link_to 'View', security_path(security), class: 'button is-link', data: { turbo_frame: '_top' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @securities %>
    </div>
  <% end %>
</section>
